* {
    margin: 0;
    padding: 0;
}

.Container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.Container .Menu-lateral {
    height: 100%;
    width: 110px;
    background: #ffa;
}

.Container .Menu {
    height: 100%;
    width: 280px;
    background: rgb(170, 235, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Container .Menu  ul li {
    margin: 15px;
    font-size: 18px;
    font-weight: 600;
    list-style: none;
}




.Container .Main {
    height: 100%;
    width: 100%;
    background: rgb(198, 255, 198)
}